[project]
	description = Demo to test gerrit
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/swarnabha-mobolt
[access "refs/for/refs/*"]
	read = group user/swarnabha-mobolt
	push = group user/swarnabha-mobolt
	label-Code-Review = -2..+2 group user/swarnabha-mobolt
	label-Verified = -1..+1 group user/swarnabha-mobolt
	rebase = group user/swarnabha-mobolt
	removeReviewer = group user/swarnabha-mobolt
	submit = group user/swarnabha-mobolt
[access "refs/heads/*"]
	read = group user/swarnabha-mobolt
	create = group user/swarnabha-mobolt
	push = +force group user/swarnabha-mobolt
	pushMerge = group user/swarnabha-mobolt
[access "refs/tags/*"]
	push = +force group user/swarnabha-mobolt
	pushTag = group user/swarnabha-mobolt
	pushSignedTag = group user/swarnabha-mobolt
