[project]
	description = Demo to test gerrit
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Swarnabha Sen (swarnabha-mobolt)
[access "refs/for/refs/*"]
	read = group user/Swarnabha Sen (swarnabha-mobolt)
	push = group user/Swarnabha Sen (swarnabha-mobolt)
	label-Code-Review = -2..+2 group user/Swarnabha Sen (swarnabha-mobolt)
	label-Verified = -1..+1 group user/Swarnabha Sen (swarnabha-mobolt)
	rebase = group user/Swarnabha Sen (swarnabha-mobolt)
	removeReviewer = group user/Swarnabha Sen (swarnabha-mobolt)
	submit = group user/Swarnabha Sen (swarnabha-mobolt)
[access "refs/heads/*"]
	read = group user/Swarnabha Sen (swarnabha-mobolt)
	create = group user/Swarnabha Sen (swarnabha-mobolt)
	push = +force group user/Swarnabha Sen (swarnabha-mobolt)
	pushMerge = group user/Swarnabha Sen (swarnabha-mobolt)
[access "refs/tags/*"]
	push = +force group user/Swarnabha Sen (swarnabha-mobolt)
	pushTag = group user/Swarnabha Sen (swarnabha-mobolt)
	pushSignedTag = group user/Swarnabha Sen (swarnabha-mobolt)
